.body{
    display:flex;
    justify-content: start;
}
.container{
    max-width: 100vw;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 2em 3em;
    height: 4em;
}

.header-right-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-user-details{
    display: flex;
    width: 7em;
    justify-content: space-between;
    margin-left: 3em;
}

.side-bar{
    width: 100%;
    max-width: 10em;
}

.content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content > div{
    min-width: 30em;
    width: 100%;
    margin: 0em 1em;
}

.content-box{
    background: #FFFFFF;
    border: 1px solid #FDFDFD;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.left-content{
    display: flex;
    flex-direction: column;
}
.overview{
    margin-bottom: 1em;
}

.content-box-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #181818;
}

.menu-item{
    display: flex;
    justify-content: start;
    margin-bottom: 3em;
    padding-left: 3em;
    cursor: pointer;
}

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.menu-item-active{
    border-left: 5px solid #4F65F6 ;
    border-radius: 0px 5px 5px 0px;
}

.menu-item > img{
    display: flex;
    margin-right: 1em;
    height: 1em;
    width: 1em;
}

.header-sign-out-button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #4F65F6;
    border-radius: 5px;
    width: 5em;
    justify-content: center;
}